/* 可以在外部QSS文件中设置 */
BatteryPackWidget {
    background: transparent;
}

BatteryPackWidget ThemeSvgWgt {
    color: #f49c39; /* 默认颜色 */
}

BatteryPackWidget[isAlarm="true"] ThemeSvgWgt {
    color: red; /* 告警颜色 */
}

BatteryPackWidget QLabel {
    color: white;
    font: bold 36px;
    background: transparent;
    qproperty-alignment: 'AlignCenter';
}