.IconLabel > .ThemeSvgWgt
{
    max-height: 1em;
    max-width: 1em;
    qproperty-svgPath: url(./lightning.svg);
}
.IconLabel > *
{
    color:green;
}

.IconLabel
{
    margin: 0px;
    padding: 0px;
}